.box {
  margin: auto;
  width: 95%;
  padding: 10px;
}

.header {
  position: relative;
  left: 0;
  right: 0;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  background-color: #fff; /* Black */
  z-index: 2;
}

h1 {
  font-size: 4vw;
}

.header a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 2vw;
  color: #818181;
}

.main{
  position: relative;
  padding: 0px 10px;
}

table {
  font-size: 2vw;
}
