{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Victoria High Flow</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'css/vhwhighflow.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load bootstrap4 %}
    {% bootstrap_css %}
</head>
<body class="">
    <div class ="box">
        <div class="header bg-dark">
            <a class="" href="/">Home <i class="fa fa-home"></i></a>
            <a class="" href="/list">HFNO2 List <i class="fa fa-bars"></i></a>
            <a class="" href="/list_detail">HFNO2 Detail <i class="fa fa-cogs"></i></a>
            <a class="" href="/redlist">Red List <i class="fa fa-book"></i></a>
        </div>
        <div class="box">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>