{% extends 'base.html' %}

{% block content %}
<h1>Patient: {{ highflow.Name }}</h1>
<div style="overflow-x:auto;">
    <table style="max-width:100%; white-space:nowrap;" class="w3-table">
        <tr>
            <td>Folder No:</td><td>{{ highflow.FolderNo }}</td>
        </tr>
        <tr>
            <td>Age:</td><td>{{ highflow.Age }}</td>
        </tr>
        <tr>
            <td>Red Score:</td><td>{{ highflow.RedScore }}</td>
        </tr>

    </table>

    <a class="w3-button w3-small w3-blue" href="/update/{{ highflow.pk }}/">Update Details<i class="w3-small fa fa-arrow-right"></i></a>
    <br>
    <br>

    <table class="w3-table">
        <thead class="links">
            <tr class="w3-border-bottom">
                <td>Date</td>
                <td>Sats</td>
                <th></th>
            </tr>
        </thead>
        {% for object in highflow.get_sats %}
            <!-- Display Objects -->
            <tr class="w3-hover-grey">
                <td>{{ object.Date }}</td>
                <td>{{ object.Sats }}</td>
                <th class="thupdate"><a class="w3-button w3-small w3-green" href="/{{ object.pk }}/update/sats/">Edit <i class="w3-small fa fa-arrow-right"></i></a></th>
            </tr>
            <!-- If object_list is empty  -->
            {% empty %}
            <tr>
                <td>No Current Entries</td>
            </tr>
        {% endfor %}
    </table>
        <a class="w3-button w3-small w3-grey" href="/{{ object.pk }}/create/sats/">Add Sats</a>
</div>
{% endblock %}