{% extends 'base.html' %}

{% block content %}
<div>
    <h3 class="font-weight-light pt-3 pb-3">Current High Flow Patients</h3>
    <table class="table table-hover">
        <thead class="">
            <tr>
                <td>Name</td>
                <td>Age</td>
                <td>Priority</td>
                <td>Days HFNO2</td>
                <td>Sats</td>
                <td></td>
            </tr>
        </thead>
        <tbody class="">
             <!-- Iterate over object_list -->
            {% for object in object_list %}
            <!-- Display Objects -->
            <tr class="">
                <td>{{ object.Name }}</td>
                <td>{{ object.Age }}</td>
                <td>{{ object.PriorityScore }}</td>
                <td>{{ object.get_days_hfno2 }}</td>
                <td>{{ object.get_latest_sats.0.Sats }}</td>
                <td><a class="btn btn-primary btn-sm" href="/list/{{ object.pk }}/">View <i class="fa fa-arrow-right"></i></a></td>
            </tr>
            <!-- If object_list is empty  -->
            {% empty %}
            <tr>
                <td>No Current Entries</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-success" href="/create/">Add Patient</a>
</div>
{% endblock %}