{% extends 'base.html' %}

{% block content %}
<h1>Patient: {{ highflow.Name }}</h1>
<div style="overflow-x:auto;">
    <table style="white-space:nowrap;" class="table">
        <tr><td>Folder No:</td><td>{{ highflow.FolderNo }}</td></tr>
        <tr><td>Age:</td><td>{{ highflow.Age }}</td></tr>
        <tr><td>Priority:</td><td>{{ highflow.PriorityScore }}</td><td>Date:</td><td>{{ highflow.PriorityScoreDate }}</td></tr>
        <tr><td>Updated Priority:</td><td>{{ highflow.UpdatedPriority }}</td><td>Date:</td><td>{{ highflow.UpdatedPriorityDate }}</td></tr>
        <tr><td>High Flow Start:</td><td>{{ highflow.HFStart }}</td></tr>
        <tr><td>Background:</td><td colspan="3">{{ highflow.Background|wordwrap:50|linebreaks }}</td></tr>
    </table>

    <a class="w3-button w3-blue" href="/update/{{ highflow.pk }}/">Update Details <i class="w3-small fa fa-arrow-right"></i></a>
    <br>
    <br>

    <table class="table">
        <thead class="links">
            <tr class="w3-border-bottom">
                <td>Date</td>
                <td>Resp Rate</td>
                <td>Heart Rate</td>
                <td>Sats</td>
                <td>FiO2</td>
                <td>Litres</td>
                <th></th>
            </tr>
        </thead>
        {% for object in highflow.get_sats %}
            <!-- Display Objects -->
            <tr class="w3-hover-grey">
                <td>{{ object.Date }}</td>
                <td>{{ object.RespRate }}</td>
                <td>{{ object.HeartRate }}</td>
                <td>{{ object.Sats }}</td>
                <td>{{ object.FiO2 }}</td>
                <td>{{ object.Litres }}</td>
                <th class="thupdate"><a class="w3-button w3-green" href="/{{ object.pk }}/update/sats/">Edit <i class="w3-small fa fa-arrow-right"></i></a></th>
            </tr>
            <!-- If object_list is empty  -->
            {% empty %}
            <tr>
                <td>No Current Entries</td>
            </tr>
        {% endfor %}
    </table>
        <a class="w3-button w3-grey" href="/{{ object.pk }}/create/sats/">Add Sats</a>
</div>
{% endblock %}