{% extends 'base.html' %}

{% block content %}
<div style="overflow-x:auto;">
    <table style="white-space:nowrap;" class="w3-table">
        <thead class="links">
            <tr class="w3-border-bottom">
                <td>Name</td>
                <td>Age</td>
                <td>Priority</td>
                <td>Days HFNO2</td>
                <td>Sats</td>
                <td></td>
            </tr>
        </thead>
         <!-- Iterate over object_list -->
        {% for object in object_list %}
        <!-- Display Objects -->
        <tr class="w3-hover-grey">
            <td>{{ object.Name }}</td>
            <td>{{ object.Age }}</td>
            <td>{{ object.PriorityScore }}</td>
            <td>{{ object.get_days_hfno2 }}</td>
            <td>{{ object.get_latest_sats.0.Sats }}</td>
            <td><a class="w3-button w3-blue" href="/list/{{ object.pk }}/">View <i class="w3-small fa fa-arrow-right"></i></a></td>
        </tr>
        <!-- If object_list is empty  -->
        {% empty %}
        <tr>
            <td>No Current Entries</td>
        </tr>
        {% endfor %}

    </table>
    <a class="w3-button w3-grey w3-left" href="/create/">Add Patient</a>
</div>
{% endblock %}