{% extends 'base.html' %}

{% block content %}
<h2 class="font-weight-light">Patient: {{ highflow.Name }} ({{ highflow.FolderNo }})</h2>
<div style="overflow-x:auto;">
    <table class="table table-hover">
        <tr><td>Age:</td><td>{{ highflow.Age }}</td></tr>
        <tr><td>Ward:</td><td>{{ highflow.Ward }}</td></tr>
        <tr><td>Admission Date:</td><td>{{ highflow.AdmissionDate }}</td></tr>
        <tr><td>Priority: ({{ highflow.PriorityScoreDate }})</td><td>{{ highflow.PriorityScore }}</td></tr>
        <tr><td>Updated Priority: ({{ highflow.UpdatedPriorityDate }})</td><td>{{ highflow.UpdatedPriority }}</td></tr>
        <tr><td>High Flow Start:</td><td>{{ highflow.HFStart }}</td></tr>
        <tr><td>Background:</td><td>{{ highflow.Background|wordwrap:50|linebreaks }}</td></tr>
    </table>

    <a class="btn btn-secondary" href="/update/{{ highflow.pk }}/">Update Details <i class="fa fa-arrow-right"></i></a>
    <a class="btn btn-warning" href="/archive/{{ highflow.pk }}/">Archive <i class="fa fa-arrow-right"></i></a>
    {% if highflow.Archive %}
        <a class="btn btn-warning" href="/unarchive/{{ highflow.pk }}/">Unarchive <i class="fa fa-arrow-right"></i></a>
    {% endif %}
    <br>
    <br>
    <br>
    <h3 class="font-weight-light pt-3 pb-3">Vital Signs</h3>
    <table class="table table-hover">
        <thead>
            <tr class="">
                <td>Date</td>
                <td>Resp Rate</td>
                <td>Heart Rate</td>
                <td>Sats</td>
                <td>FiO2</td>
                <td>Litres</td>
            </tr>
        </thead>
        {% for object in highflow.get_sats %}
            <!-- Display Objects -->
            <tr class="">
                <td><a href="/{{ object.pk }}/update/sats/">{{ object.Date }}</a></td>
                <td>{{ object.RespRate }}</td>
                <td>{{ object.HeartRate }}</td>
                <td>{{ object.Sats }}</td>
                <td>{{ object.FiO2 }}</td>
                <td>{{ object.Litres }}</td>
            </tr>
            <!-- If object_list is empty  -->
            {% empty %}
            <tr>
                <td>No Current Entries</td>
            </tr>
        {% endfor %}
    </table>
        <a class="btn btn-success" href="/{{ object.pk }}/create/sats/">Add Sats</a>
</div>
{% endblock %}