{% extends 'base.html' %}

{% block content %}
<div>
    <h3 class="font-weight-light pt-3 pb-3">Current Red Patients</h3>
    <table class="table table-hover">
        <thead class="">
            <tr>
                <td>Name</td>
                <td>Age</td>
                <td>Admission</td>
                <td>Priority</td>
                <td>Vitals</td>
            </tr>
        </thead>
        <tbody class="">
             <!-- Iterate over object_list -->
            {% for object in object_list %}
            <!-- Display Objects -->
            <tr class="">
                <td><a class="" href="/list/{{ object.pk }}/">{{ object.Name }}<br>({{ object.Ward }})</a></td>
                <td>{{ object.Age }}</td>
                <td>{{ object.AdmissionDate }}</td>
                <td>{{ object.PriorityScore }}</td>
                <td style="white-space:nowrap;" class="subtle">RR: {{ object.get_latest_vitals.0.RespRate }}<br>HR: {{ object.get_latest_vitals.0.HeartRate }}<br>FiO: {{ object.get_latest_vitals.0.FiO2 }}%<br>Sats: {{ object.get_latest_vitals.0.Sats }}%</td>
            </tr>
            <!-- If object_list is empty  -->
            {% empty %}
            <tr>
                <td>No Current Entries</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-success" href="/create/">Add Patient</a>
</div>
{% endblock %}